<div class="container-all">
    <div class="w-full p-5 flex justify-center">
        <ul class="flex gap-5 text-lg">
            <li routerLink="/" class="navbar-link">Home</li>
            <li routerLink="/projects" class="navbar-link">Projects</li>
            <li routerLink="/auth" class="navbar-link">Login</li>
            <li *ngIf="authService.isLoggedIn" routerLink="/newproject" class="navbar-link">Login</li>
        </ul>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>